html {
	font-size: 62.5%;
}
body {
}
h1 {
	margin: 0;
}
img {
	vertical-align: bottom;
}
a.tap-active {
	text-decoration: none;
}
li {
	list-style: none;
}
dl {
	margin: 0;
}
dd {
	margin: 0;
}
button {
	background-color: transparent;
	border: 0;
}
/* clear */
.cle:after {
	content: ".";
	display: block;
	height: 0;
	font-size:0;
	clear: both;
	visibility: hidden;
}
.ui-container {
	width: 100%;
	font-family: Arial, Helvetica, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", sans-serif;
	font-size: 1.3rem;
	line-height: 120%;
	color: #222;
	/*background-image: url(../img/ico/bg2.png);*/
	background-position: center center;
}
/*---- ヘッダー ----*/
.header-container {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1000;
	border-bottom: solid 1px #fff;
}
.header-contents {
	height: 40px;
	background-color: #222;
	color: #fff;
	display: -webkit-box;
	display: -moz-box;
}
/* ヘッダーメニュー */
.header-menu {
	width: 40px;
	height: 40px;
	position: absolute;
	left: 4px;
}
.btn-menu {
	height: 36px;
	width: 36px;
	position: relative;
	top: 2px;
	background-image: url(../img/ico/menu.png);
	background-size: 36px 36px;
}
/* ヘッダーロゴ */
.header-logo {
	-webkit-box-flex: 1.0;
	-moz-box-flex: 1;
	text-align: center;
	font-size: 1.0rem;
	font-weight: bold;
}
.header-logo a{
	color: #fff;
	text-decoration: none;
}
.header-logo h1{
	height: 28px;
	width: 210px;
	background-image: url(../img/ico/logo.png);
	-webkit-background-size: 210px 28px;
	background-size: 210px 28px;
	margin: 6px auto 0 auto;
}
.header-info-container {
	position: relative;
	width: 60px;
}
.todays-container,
.area-container {
	padding: 0 12px 44px;
}
/* ソートボタン */
.sort-btn-container {
	padding: 12px;
}
.sort-btn {
	width: 100%;
	overflow: scroll;
	display: -webkit-box;
	display: -moz-box;
}
.sort-btn::-webkit-scrollbar {
	display: none;
}
.sort-days {
	display: block;
	height: 36px;
	width: 36px;
	padding: 4px;
	margin-left: 8px;
	background-color: #222;
	text-align: center;
	line-height: 100%;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}
.sort-days.active {
	background-color: #666;
}
.sort-btn li:first-child a {
	margin-left: 0px;
}
.sort-date {
	font-size: 2.0rem;
	line-height: 120%;
}

/*---- エリアリストアイテム ----*/
/* エリアページヘの遷移ボタン */
.btn-area {
	text-decoration: none;
	text-align: center;
}
.btn-area h2,
.btn-area h4 {
	padding: 12px;
	margin-bottom: 12px;
	background-color: #222;
	color: #fff;
}
.btn-area h2.shibuya,
.btn-area h4.shibuya {
	background-color: #2980b9;
}
.btn-area h2.roppongi,
.btn-area h4.roppongi {
	background-color: #c0392b;
}
.btn-area h2.akihabara,
.btn-area h4.akihabara {
	background-color: #f1c40f;
}
/* リストアイテム */
.todays-items ul{
	margin-bottom: 12px;
	display: -webkit-box;
	display: -moz-box;
}
.todays-item {
	display: block;
	width: 100%;
	margin-left: 8px;
	position: relative;
	-webkit-box-flex: 1.0;
	-moz-box-flex: 1;
}
.todays-item:first-child {
	margin-left: 0;
}
.todays-item img{
	width: 100%;
}
/* リストの見出し */
.event-box {
	display: block;
	padding: 4px;
	background-color: #222;
	position: relative;
	text-decoration: none;
}
.event-box.shibuya {
	background-color: #2980b9;
}
.event-box.roppongi {
	background-color: #c0392b;
}
.event-box.akihabara {
	background-color: #f1c40f;
}
.event-box h3 {
	font-size: 1.3rem;
	color: #fff;
	text-align: center;
}

/*---- フッター ----*/
.footer-container {
	background-color: #000;
	border-top: solid 1px #fff;
}
.footer-contents {
	color: #fff;
	line-height: 32px;
	text-align: center;
}

/*---- カラム ----*/
.column-left {
	padding: 0 12px;
}
.column-right {
	padding: 0 12px;
}
/*---- クラブページ ----*/
.index-1 {
	padding: 12px;
	background-color: #222;
	color: #fff;
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
}
.event-container {
	margin-top: 52px;
}
.event-img img {
	width: 100%;
}
/* クラブの説明文 */
.detail-box {
	padding: 12px;
	margin-bottom: 12px;
	background-color: #eee;
	word-break: break-all;
}
.detail-box p{
	margin: 0;
}
/* マップ */
.map-container {
	margin-top: 12px;
}
.map {
	background-color: #eee;
	margin-bottom: 12px;
	width: 100%;
	height: 300px;
	text-align: center;
}
/* シェア */
.btn-share {
	display: -webkit-box;
	display: -moz-box;
}
.btn-fb,
.btn-tw {
	display: block;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	-webkit-box-flex: 1.0;
	-moz-box-flex: 1;
}
.btn-fb img,
.btn-tw img{
	width: 32px;
	height: 32px;
	margin: 4px auto 0 auto;
}
.btn-fb {
	background-color: #3b5998;
}
.btn-tw {
	background-color: #00aced;
}
.twitter-timeline {
	margin-top: 12px;
	height: 300px;
}
.share-items ul {
	display: -webkit-box;
	display: -moz-box;
}
.share-items li {
	margin-top: 8px;
}
.share-item {
	margin-left: 8px;
	background-color: #ddd;
	-webkit-box-flex: 1.0;
	-moz-box-flex: 1;
}
.share-item img{
	height: 100%;
	width: 100%;
	background-color: #ddd;
	margin-left: 8px;
}
.share-item:first-child  {
	margin-left: 0;
}

/*---- アコーディオンメニューのスタイル ----*/
.acordion-menu {
	display: none;
	width: 100%;
	padding-top: 40px;
	background-color: #000;
	position: absolute;
	top: 0;
	z-index: 99;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	border-bottom: solid 1px #fff;
}
.acordion-menu dl {
	border-bottom: solid 1px #999;
}
.index-side-menu {
	padding: 12px;
	border-bottom: solid 1px #999;
	display: -webkit-box;
	display: -moz-box;
}
/* クローズボタン */
.btn-close {
	position: relative;
	height: 20px;
	width: 20px;
	right: 24px;
	background-image: url(../img/ico/close_menu.png);
	background-size: 20px 20px;
}
.index-menu {
	margin: 0 auto;
	line-height: 20px;
}
.side-menu dt {
	padding: 12px;
	border-bottom: solid 1px #222;
}
.side-menu dd a {
	display: block;
	padding: 12px 24px;
	border-bottom: solid 1px #222;
	color: #fff;
	font-size: 14px;
}

/*---- クラブページ ----*/
.box-img-big {
	width: 100%;
	background-color: #fff;
}
.container-box-img {
	margin: 52px 0 12px 0;
}
.box-img-inner {
	display: -webkit-box;
	display: -moz-box;
}
.container-box-img .item {
	display: table-cell;
	width: 25%;
	height: 49px;
	overflow: hidden;
	background-color: #fff;
	vertical-align: middle;
}
.container-box-img img {
	width: 100%;
	height: auto;
	position: relative;
}

/*---- スライドショーに仕様するアイテム ----*/
.slide-container {
	overflow: hidden;
}
.slide-contents {
	height: 380px;
	margin: 52px 0 80px 0;
	position: relative;
}.slideshow-slides {
	clear : both;
	position : relative;
	left : 0;
}
.slide {
	height: 380px;
	float: left;
	text-decoration: none;
}
/* インジケーター */
.slideshow-indicators {
	content : '';
	display : block;
	margin : 0 auto;
	position : relative;
	bottom: -12px;/* インジケーターの位置 */
	clear : both;
}
.indicators {
	display : block;
	margin : 0 auto;
}
.indicator {
	display : block;
	width : 16px;
	height : 16px;
	position : relative;
	background-image : url('./../img/ico/indicator-2.png');
	background-size: 16px 16px;
	float : left;
}
/* 一番最初に読み込んだ時に一番最初のインジケーターをアクティブにする*/
.indicator:first-child {
	background-image : url('./../img/ico/indicator-1.png');
}

/* ナビゲーションボタン */
.slideshow-nav {
	content : '';
	display : block;
	clear : both;
	position : relative;
	width: 100%;
	left: 0;
}
.slideshow-nav a {
	width : 40px;
	height : 36px;
}
.slideshow-nav .prev {
	display : block;
	background-image : url('./../img/ico/btn-prev.png');
	float : left;
}
.slideshow-nav .next {
	display : block;
	background-image : url('./../img/ico/btn-next.png');
	float : right;
}
/* ハコの名前、エリア名 */
.txt-box,
.txt-area {
	color: #000;
	text-align: center;
	font-weight: bold;
	font-size: 1.6rem;
	line-height: 100%;
	text-decoration: none;
	background-color: #fff;
}
.txt-box {
	font-size: 2.2rem;
}